@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    transition: 0.2s ease-in-out;
    
}

:root {

    --box-shadow-primary: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    --font-size-lg: 4.375rem; /* 70px */
    --font-size-md: 3.75rem; /* 60px */
    --font-size-sm: 1.5625rem; /* 25px */

    --padding-lg: 100px;
    --padding-md: 60px;
    --padding-sm: 25px;
    --padding-xs: 10px;

    --dark-red: #5a0e0;
    --dark-blue: rgb(2, 2, 56);
    --dark-blue2:  rgb(36, 6, 80);
}


body {
    overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  cursor: pointer;
}



nav .container {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}


/* The fonts */

/* montserrat font */

.montserrat-heading {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


/* Madimi font */
.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  
/* Poppins font */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

  /* Roboto fonts */
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

/* The height variables */
.height-xl {
    font-size: var(--font-size-lg);
}



/* The colors */
.color-gray {
    color: gray;
}

.color-blue {
    color: rgb(4, 4, 57);
}

.color-white {
  color: white;
}


.color-red {
  color: var(--dark-red);
}


.blue-bg {
  background: var(--dark-blue);
}


/* paddings */

.padding-bottom-xsm {
  padding-bottom: var(--padding-xs);
}

.padding-top-xsm {
  padding-top: var(--padding-xs);
}

.padding-bottom-sm {
  padding-bottom: 40px;
}

.padding-top-lg {
  padding-top: var(--padding-lg);
}



/* Sections */
/* The call to action section */

#call-to-action {
   
  box-shadow: var(--box-shadow-primary);
  height: 90vh; 
  overflow: hidden;

}
  
  
#call-to-action .container {
  position: relative;
}

#call-to-action .container .info {
  position: absolute;
  top: 200px;
  left: 200px;
}
 
  

/* All images */

/* The image contained with the call to action section */
.call-to-action-img {
    opacity: 0.6;
}

.call-to-action-img {
  position: absolute;
  top: 10px; 
  right: 90px;
  width: 740px;
}


  
#animated-text {

  color: var(--dark-blue2);
  display: inline-block;
  font-size: var(--font-size-sm);
  font-weight: bolder;
  overflow: hidden;
  white-space: nowrap;
    
}



/* The icons container and sizes */
.icons {
  padding-left: 10px;
}

.icon {
  
  background: lavender;
  border-radius: 50%;
  cursor: pointer;

  /* sizes */
  height: 35px;
  width: 35px; 
 
  transform: translateY(10px);
}



/* The flex items */
.flex-col {
  display: flex;
  flex-direction: column;
  gap: 25px;
 
}



/* This displays the text */

.display-item {
    background: lavender;
    border-radius: 7%;

    padding-top: 10px;
    padding-bottom: 10px;

    width: 10%; 
}

.hide-item {
  display: none;
}

